<nav class="site-nav">
    <ul class="row row--space-between row--vertical">
        <li class="site-nav__item">
            <a class="site-nav__link" href="/" title="Перейти на страницу Решения">Решения</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link" href="/" title="Перейти на страницу Платформа">Платформа</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link" href="/" title="Перейти на страницу Тарифы">Тарифы</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link" href="/" title="Перейти на страницу Услуги связи">Услуги связи</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link" href="/" title="Перейти на страницу Блог">Блог</a>
        </li>
        <li class="site-nav__item">
            <a class="site-nav__link" href="/" title="Перейти на страницу Контакты">Контакты</a>
        </li>
    </ul>
</nav>