<div class="slider-type1 swiper-container container">
    <!-- Add Arrows -->
    <div class="slider-type1__buttons">
        <div class="slider-type1__buttons__prev swiper-button-prev"></div>
        <div class="slider-type1__buttons__next swiper-button-next"></div>
    </div>

    <ul class="slider-type1__wrapper swiper-wrapper">
        <li class="swiper-slide slider-type1__slide">
            <div class="row">
                <div class="row__col-6">
                    <h3 class="slider-type1__slide__title">Облачная омниканальная платформа для развития бизнеса</h3>
                    <div class="slider-type1__slide__desc">
                        IT-компания Neirika создала по-настоящему ценное решение для <br /> коммуникаций – облачную
                        коммуникационную платформу. Пользуясь <br /> нашей универсальной системой, вы с уверенностью
                        сможете управлять <br /> своим бизнесом, повышать эффективность продаж, мгновенно <br />
                        подстраиваться под требования
                        партнеров и масштабировать решения <br /> под рост вашего бизнеса.
                    </div>
                    <button class="btn btn--bright btn--arrow">
                        <span class="btn__name">Подробнее</span>
                    </button>
                </div>
            </div>
        </li>
        <li class="swiper-slide slider-type1__slide">
            <div class="row">
                <div class="row__col-6">
                    <h3 class="slider-type1__slide__title">Neirika</h3>
                    <div class="slider-type1__slide__desc">
                        Neirika – современная ИТ-компания, предоставляющая коммуникационные услуги нового поколения на
                        основе собственной облачной платформы. Наша команда стремится к созданию единого решения,
                        которое объединит все ваши коммуникации в один простой и понятный интерфейс, чтобы вы могли
                        сосредоточиться на бизнесе, а не том, как передать информацию и интегрировать множество сервисов
                        для ее анализа.
                    </div>
                    <button class="btn btn--bright btn--arrow">
                        <span class="btn__name">Подробнее</span>
                    </button>
                </div>
            </div>
        </li>
    </ul>

    <!-- Add Pagination -->
    <div class="slider-type1__pagination swiper-pagination"></div>
</div>