<div class="slider-type2 swiper-container container-slider">

    <!-- Add Arrows -->
    <div class="slider-type1__buttons">
        <div class="slider-type1__buttons__prev swiper-button-prev"></div>
        <div class="slider-type1__buttons__next swiper-button-next"></div>
    </div>

    <!-- slider -->
    <ul class="slider-type1__wrapper swiper-wrapper">
        <li class="swiper-slide slider-type1__slide">
            <div class="nrk-bubble">

            </div>
        </li>
    </ul>

</div>