.slider-type1 {
    padding: 62px 0 0;

    &__buttons {
        display: flex;
        align-items: center;
    
        &__next,
        &__prev {
            position: static;
        }
    }

    &__pagination {
        position: static;
    }

    &__slide {
        &__title {
            font-size: 34px;
            line-height: 45px;
            margin-bottom: 15px;
        }

        &__desc {
            font-size: 15px;
            line-height: 26px;
            margin-bottom: 38px;
        }
    }

    .swiper-pagination-bullet {
        height: 10px;
        width: 10px;

        &-active {
            background-color: $bright-color;
        }
    }
}

.btn {
    border: none;
    display: inline-block;
    border-radius: 27px;
    min-width: 210px;
    height: 48px;
    text-transform: uppercase;
    font-size: 18px;

    &--bright {
        background-color: $bright-color;
        color: #fff;
    }
}


// .main {
//   width: 100%;
//   margin: 0 auto;
//   padding: 0 10px;
//   box-sizing: border-box;

//   @media (min-width: $tablet-width) {
//     display: flex;
//     width: $tablet-width;
//     flex-wrap: wrap;
//     justify-content: space-between;
//   }
//   @media (min-width: $desktop-width) {
//     width: $desktop-width;
//     padding: 0 12px;

//     &--orders,
//     &--basket {
//       display: flex;
//       justify-content: space-between;
//     }
//   }
//   @media (min-width: $desktop-enlarged-width) {
//     width: $desktop-enlarged-width;
//     padding: 0 55px;
//   }
// }

// .main__left {
//   @media (min-width: $tablet-width) {
//     width: 210px;
//   }
//   @media (min-width: $desktop-enlarged-width) {
//     width: 270px;
//   }
// }

// .main__right {
//   @media (min-width: $tablet-width) {
//     width: 510px;
//   }
//   @media (min-width: $desktop-width) {
//     width: 750px;
//     margin-top: 0;
//   }
//   @media (min-width: $desktop-enlarged-width) {
//     width: 870px;
//   }
//   &--search {
//     width: 100%;
//   }
// }

// .main__block {
//   width: 100%;

//   @media (min-width: $desktop-width) {
//     width: 710px;
//   }
//   @media (min-width: $desktop-enlarged-width) {
//     width: 870px;
//   }
// }

// .main__ad {
//   display: none;

//   @media (min-width: $desktop-width) {
//     display: block;
//     width: 270px;
//     height: 503px;
//     margin-top: 67px;
//     background-color: #fcb900;
//   }
// }
